/.env
/.idea/
/terraform/.terraform/
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/terraform.tfvars
.env
/logs
/microservices/audio_processor/credentials.env
