/.env
/.idea/
/terraform/.terraform/
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/terraform.tfvars
.env
/logs
/microservices/audio_processor/song-downloader-infra/.terraform/
/microservices/audio_processor/song-downloader-infra/.terraform.lock.hcl
/microservices/audio_processor/song-downloader-infra/terraform.tfvars
/microservices/butakero_bot/butakero_bot_infra/.terraform/
/microservices/butakero_bot/butakero_bot_infra/.terraform.lock.hcl
/yt-cookies.txt
/microservices/audio_processor/yt-cookies.txt
