/.env
/.idea/
/terraform/.terraform/
/terraform/.terraform.lock.hcl
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/terraform.tfvars
.env
/logs
/audio_processor/song-downloader-infra/.terraform/
/audio_processor/song-downloader-infra/.terraform.lock.hcl
/audio_processor/song-downloader-infra/terraform.tfvars
/butakero_bot/butakero_bot_infra/.terraform/
/butakero_bot/butakero_bot_infra/.terraform.lock.hcl
/butakero_bot/butakero_bot_infra/terraform.tfvars
/yt-cookies.txt
/audio_processor/yt-cookies.txt